:export {
  primaryColor: vars.$primary-color;
  secondaryColor: vars.$secondary-color;
  textColor: vars.$text-color;
  backgroundColor: vars.$background-color;
  menuBackgroundColor: vars.$menu-background-color;
  borderRadius: vars.$border-radius;
  fontStack: vars.$font-stack;
  fontSize: vars.$font-size-base;
}